    body {
        font-family: arial;
    }
    #content {
        margin: auto;
        width: 800px;
        position: relative;
        height: 550px;
    }
    #picture {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #icon1 {
        position: absolute;
        top: 0px;
        right: 152px;
    }
    #icon2 {
        position: absolute;
        top: 64px;
        right: 80px;
    }
    #icon3 {
        position: absolute;
        top: 96px;
        right: 39px;
    }
    #icon4 {
        position: absolute;
        top: 96px;
        right: 0px;
    }
    canvas {
        background-image: url('canvasbg.png');
        border: 1px dashed white;
    }
    #backgrounds img {
        height: 30px;
        border: 1px solid black;
    }

    #images img {
        height: 30px;
        border: 1px solid black;
    }
    #menu {
        position: absolute;
        right: 0px;
        top: 140px;
        width: 280px;
    }
    #menu div {
        margin-bottom: 15px;
    }
