    body {
        font-family: arial;
    }
    #picture {
        position: relative;
        left: 0px;
        top: 50px;
    }

    #icon1 {
        position: fixed;
        top: 5px;
        right: 5px;
    }
    #icon2 {
        position: fixed;
        top: 5px;
        right: 140px;
    }
    #icon3 {
        position: fixed;
        top: 140px;
        right: 5px;
    }
    #icon4 {
        position: fixed;
        top: 77px;
        right: 140px;
    }
    #mini {
        position: fixed;
        top: 200px;
        right: 5px;
        width: 50px;
        text-align: right;
    }
    canvas {
        background-image: url('canvasbg.png');
        border: 1px dashed white;
    }
